In [1]:
#Cleaning Data .. 15-10-2021.

In [3]:
import pandas as pd

df = pd.read_csv('data/nyc_temperatures.csv')
df.head()

  attributes datatype                 date            station  value
0      H,,S,     TAVG  2018-10-01T00:00:00  GHCND:USW00014732   21.2
1   ,,W,2400     TMAX  2018-10-01T00:00:00  GHCND:USW00014732   25.6
2   ,,W,2400     TMIN  2018-10-01T00:00:00  GHCND:USW00014732   18.3
3      H,,S,     TAVG  2018-10-02T00:00:00  GHCND:USW00014732   22.7
4   ,,W,2400     TMAX  2018-10-02T00:00:00  GHCND:USW00014732   26.1

In [5]:
df.columns

Index(['attributes', 'datatype', 'date', 'station', 'value'], dtype='object')

In [6]:
df.rename(

    columns={
        
        'value' : 'temp_c',
        'attributes'  : 'flags'
        
    },inplace = True
    
)

In [9]:
df.columns

Index(['flags', 'datatype', 'date', 'station', 'temp_c'], dtype='object')

In [10]:
df.rename(str.upper, axis='columns').columns

Index(['FLAGS', 'DATATYPE', 'DATE', 'STATION', 'TEMP_C'], dtype='object')